@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
ul {
	background: #333;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0;
}
ul li {
	display: inline-block;
*display:inline;
*zoom:1;
	font-size: 12px;
	border-right: 1px solid #555;
	position: relative;
}
ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
ul li:hover a, ul li a:hover {
	color: #ccc;
	background: #555;
}
/* =Second Level */
ul ul {
	background: #555;
	position: absolute;
	top: 34px;
	left: -9999px;
	width: 150px;
}
ul li:hover ul {
	left: 0;
}
ul li li {
	display: block;
	border-top: 1px solid #666;
}
ul li li:hover a, ul li li a:hover {
	background: #666;
}
/* =Second Level */
ul li ul li:hover ul {
	left: 150px;
	top: -1px;
}
ul li li li a:hover {
	background: #888;
}
#devi-menu {
	display: none;
}
 @media only screen and (max-width:768px) {
#devi-menu {
	display: block;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#menu {
	display: none;
}
}
